<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23805220742-4s2hr8gq08t45kfmd4afnuj07hvk6fc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23805220742-4s2hr8gq08t45kfmd4afnuj07hvk6fc9</string>
	<key>API_KEY</key>
	<string>AIzaSyBaAAACuwosh5PkOKMRnlZS-gysuDh7rwI</string>
	<key>GCM_SENDER_ID</key>
	<string>23805220742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.sdk.test</string>
	<key>PROJECT_ID</key>
	<string>usercom-sdk-test</string>
	<key>STORAGE_BUCKET</key>
	<string>usercom-sdk-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23805220742:ios:bb1b78c22a1612ca3c7e07</string>
	<key>DATABASE_URL</key>
	<string>https://usercom-sdk-test.firebaseio.com</string>
</dict>
</plist>